---
import Spacer from "../components/Spacer.astro";
import Content from "../components/Content.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Content>
    <article>
      <h1>About me</h1>

      <p class="p">
        I’m Joni Anggara, a technical developer at <a href="https://7togk.id"
          >7TogkID</a
        >, where we specialize in creating innovative web and mobile solutions
        for various industries.
      </p>

      <p class="p">
        Over the years, I’ve had the opportunity to work on a wide range of
        projects, including building Minecraft servers, designing websites, and
        developing mobile apps. Each project brings a new challenge and I enjoy
        solving problems and creating seamless user experiences.
      </p>

      <p class="p">
        In my free time, I enjoy exploring new technologies and staying
        up-to-date with the latest industry trends. I believe that continuous
        learning is essential for staying ahead in the ever-evolving tech
        landscape.
      </p>
    </article>

    <Spacer />

    <article>
      <h1>How did I get to know coding?</h1>

      <p class="p">
        In 2020, I played a Minecraft server with my friend, then I wanted to
        create my own server called <a href="https://minecraft.7togk.id/"
          >'7TogkSMP'</a
        > . <br />
        At that time I created a server that only installed plugins that already
        existed on the internet. <br />
        Indirectly, I have learned the PHP programming language.
      </p>

      <p class="p">
        After I knew the basics of the PHP programming language, I learned to
        create websites with HTML, CSS, JS. At that time I was not comfortable
        with that html css js whatever I don't know :)
      </p>

      <p class="p">
        And I looked for an alternative, and I got to know something called a
        framework, at that time I used the Laravel framework to create a website
        for the first time.
      </p>

      <p class="p">
        Yes, I learned all that autodidactically, and I just realized I've
        entered the world of technology :)
      </p>

      <p class="p">
        The lesson I got from here is "Just learn what you want to learn, learn
        if you have to, there will be no results :)"
      </p>
    </article>

    <Spacer />

    <article>
      <h1>Personal life</h1>

      <p class="p">There’s nothing interesting to expose about my life :)</p>
      <p class="p">
        I just live in I’m always in front of the computer every day, so in
        conclusion, there’s no life.
      </p>

      <p class="p">
        I only go out if a friend invites me to hang out or go to the mountains.
        Well, there are many things, but the point is, I go out when invited by
        friends :)
      </p>
    </article>

    <Spacer />

    <article>
      <h1>My Hobbies</h1>

      <p class="p">
        I'm really into anime, sometimes I get so hooked I can't stop watching! <br
        />
        I also love gaming, especially anything related to anime. It’s the perfect
        combo! <br />
        On top of that, I enjoy drawing, whether it’s logos, of course, anime characters.
        It's always fun to bring them to life on paper.
      </p>

      <p class="p">
        Of course, with my hobbies above, I'm still normal, and I can still love
        real people lol.
      </p>

      <p class="p">
        Oh... i remember something, i also like climbing mountains and hiking.
      </p>

      <p class="p">
        And... I also love overthinking. Yes, I really enjoy overthinking, I
        don’t hate it, I actually like it a lot :) <br />
        I don’t know why, but when something happens, I start thinking about it a
        lot and I really enjoy it, it feels like I’m playing a puzzle game.
      </p>
    </article>

    <Spacer />

    <article>
      <h1>Youtube channel</h1>

      <p class="p">
        I have a YouTube channel where I post videos about gaming, especially
        minecraft games.
      </p>

      <p class="p">
        If you want support me, you can support me by subscribing to my channel. <a
          href="https://youtube.com/@angga7togk_">Angga7Togk (YOUTUBE)</a
        >
      </p>

      <p class="p">
        I started my YouTube channel in 2019. <br />
        In 2022, I was able to monetize my channel. <br />
        But in early 2023, my account was hacked, and I didn't know who did it.
      </p>

      <p class="p">
        I was very frustrated, but luckily, I had already received my first
        payment of 1.4 million IDR, which allowed me to buy a laptop. After
        that, I started a new YouTube channel, and soon it reached 1k
        subscribers. However, I lost some motivation to make videos. Now, I only
        upload videos when I feel like it.
      </p>
    </article>
  </Content>
</Layout>
