---
import Spacer from "../components/Spacer.astro";
import Content from "../components/Content.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Content>
    <article>
      <h1>Projects</h1>

      <p class="p">Some of the things I am involved in.</p>
    </article>

    <Spacer />

    <article>
      <h1>7TogkSMP / 7TogkNetwork</h1>

      <p class="p">
        I also developed a minecraft server called 7TogkNetwork with the 7TogkID
        team.
      </p>

      <p class="p">
        This server was founded on January 14 2020, at that time it was still
        called 7TogkSMP with Multiplayer Survival mode on the Bedrock Edition
        platform. <br />

        And switching to 7TogkNetwork with many game modes, in 7TogkNetwork it
        switches to the Java Edition platform.
      </p>

      <p class="p">
        This server also has 15 seasons and above, and has been the Top 1
        Minecraft Bedrock Server in Indonesia.
      </p>
    </article>

    <Spacer />

    <article>
      <h1>Mydly URL Shortener</h1>

      <p class="p">
        Mydly is a website that provides easy creation of URL shorteners, QR
        codes, bio pages
      </p>
    </article>


    <Spacer />

    <article>
      <h1>Animaku</h1>

      <p class="p">
        Animaku is a platform for watching anime for free,
        website-based
      </p>

      <p class="p">
        Disclaimer: This website is not an official website, and does not store
        anime content in a database at all.
      </p>

      <p class="p">The content in it is taken from third parties.</p>
    </article>
  </Content>
</Layout>
