<div class="space">
  <div></div>
</div>

<style>
  .space {
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .space div {
    width: 50%;
    height: 1.5px;
    background-color: rgb(44, 44, 44);
  }
</style>
